CREATE TABLE `SequelizeMeta` (`name` VARCHAR(255) NOT NULL UNIQUE PRIMARY KEY);
CREATE TABLE `Users` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `name` VARCHAR(255), `email` VARCHAR(255), `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE `Books` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `title` VARCHAR(255), `author` VARCHAR(255), `year` INTEGER, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
CREATE TABLE `BorrowingHistories` (`id` INTEGER PRIMARY KEY AUTOINCREMENT, `userId` INTEGER, `bookId` INTEGER, `borrowedAt` DATETIME, `returnedAt` DATETIME, `rating` INTEGER, `createdAt` DATETIME NOT NULL, `updatedAt` DATETIME NOT NULL);
